/*Generic Styling, for Desktops/Laptops*/

h1,h2 {
  color: white;
}

.search {
  color: white;
  font-size: 14;
}

.textValue {
  color: #5dad01
}

.searchBar {
  width: 25%;
}

body {
  background-color: #415D84
}

table {
  width: 100%;
  border-collapse: collapse;
  color: #FFFFFF;
}

.editText {
    color: #5dad01;
    background-color: #35383B;
}

.warning {
  color: #f04005;
}

/* Zebra striping */

tr:nth-of-type(even) {
  background: #2C5EA3;
}

th {
  background: #35383B;
  color: white;
  font-weight: bold;
  font-size: 18px
}

td,
th {
  padding: 6px;
  border: 1px solid #404D60;
  text-align: left;
}

.searchBar {
  width: 25%;
  background-color: #415D84;
  border: none;
}

.editText {
    color: #5dad01;
    background-color: #35383B;
}
/*Buttons*/

.btn-primary {
  background-color: #00946A;
  color: white;
}

.btn-info {
  background-color: #0348A3;
  color: white;
}

.btn-danger {
  background-color: #E33B4A;
  color: white;
}

.btn-warning {
  background-color: #FFBD52;
  color: white;
}


/*Media Queries*/


/*Tablet*/

@media screen and (max-width: 768px) {
  tbody,
  td,
  tr {
    border: none;
    border-collapse: collapse;
  }
  td {
    border: none;
    position: relative;
    padding-left: 0%;
    width: 20%;
  }
  td:before {
    position: absolute;
    top: 0px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
}

input {
  box-sizing: border-box;
  float: left;
  width: 100%; // earlier it was 450px update % as per your need
}


/*Mobile*/

@media screen and (max-width: 480px) {
  h1 {
    font-size: 24px;
  }
  div {
    padding-left: 0;
    margin-left: 0;
  }
  th {
    font-size: 14px;
  }
  tbody {
    font-size: 12px;
  }
  .btn {
    font-size: 12px;
    padding: 1px;
  }
}
